body {
    margin: 0;
}

.header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    color: #f2f2f2;
    font-size: 24px;
    padding: 8px;
    font-style: italic;
}

.header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-style: italic;
}

.main {
    padding: 32px;
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.form-column {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.form-label:not(:first-child) {
    margin-top: 8px;
}

.form-button {
    padding: 6px;
    margin-top: 16px;
}

.error {
    color: red;
}

.info {
    color: blue;
}
